/* Styles for empty cart */
.emptyCart {
  background-color: rgb(245, 239, 239);
  width: 100%;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.emptyCart img {
  width: 5%;
}

.emptyCart p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: rgb(202, 195, 195);
}


.browseButton {
  padding: 13px 20px;
  margin: 0;
  background-color: rgb(48, 47, 47);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  color: white;
}

.checkout {
  margin: auto;
  padding: 200px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 239, 239);
}

.controlCart{
  background-color: rgb(230, 224, 224);
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.controlQuanContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emptyContainer{
 margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 239, 239);
  height: 100vh;
}

.bottom-nav {
  padding-bottom: 15px;
}

.checkoutParent {
  background-color: white;
  padding: 8px 10px;
  border-radius: 5px;
  width: fit-content;
}

.checkoutParent p {
  color: grey;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.backToShop{
  color: rgb(202, 16, 16);
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 2px;
}

.mainCheckout-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.checkoutLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkoutContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: white;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  width: 550px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.checkoutTop {
  display: flex;
  gap: 17px;
}

.checkoutImage {
  width: 100px;
}

.checkoutImage img {
  min-width: 100px;
}

.checkoutItems {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  white-space: wrap;
  max-width: 350px;
}

.checkoutItems h1 {
  font-weight: 300;
}

.checkoutItems p:first-of-type {
  color: green;
  margin-top: 20px;
  font-weight: bold;
  margin: 0;
}

.checkoutItems h1 {
  font-size: clamp(16px, 2vw, 20px);
  color: black;
  margin-bottom: 8px;
}

.deleteContainer {
  margin-bottom: auto;
}

.deleteContainer button {
  padding: 3px 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: transparent;
  background-color: rgb(202, 200, 200);
}

.deleteContainer button:hover{
  background-color: rgb(184, 182, 182);
}

.deleteContainer button:active{
  background-color: rgb(202, 200, 200);
}

.OrderSummary {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 380px;
  border-radius: 3px;
}

.orderSummary-Top h1 {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 10px;
}

.orderSummary-Top {
  background-color: white;
  padding: 10px 25px 20px 25px;
  border-radius: 5px;
}


.orderfirst {
  border-bottom: 1px solid rgb(206, 199, 199);
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.discount {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.orderSecond {
  padding: 10px 0 33px 0;
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.orderTotal p:nth-child(2) {
  color: green;
  font-weight: bold;
}

.orderDiscount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.orderDiscount h4,
p {
  margin: 0;
  font: 16px;
}

.add-container button:nth-child(2) {
  background-color: black;
  font-size: 24px;
  padding: 13px 0;
}

.add-container button:nth-child(1) {
  padding: 16px 0;
  background-color: rgb(48, 47, 47);
}

.add-container Button:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 33, 33);
  background-color: rgb(243, 182, 29);
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 10px;
  gap: 5px;
  padding: 12px 0;
}

.add-container Button:nth-child(3) img {
  width: 100px;
  margin: 0;
}

.orderBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 7px;
}

.orderBottom img {
  width: 35px;
}

.promoPromo {
  background-color: white;
  padding: 20px 25px 25px 25px;
  white-space: nowrap;
  border-radius: 5px;
  margin-top: 20px;
}

.promoIn {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

.promoPromo h3 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.promoPromo input {
  border: 1px solid rgb(172, 166, 166);
  background-color: white;
  padding: 15px 30px 15px 20px;
  border-radius: 4px;
}

.promoPromo button {
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 15px;
  border: 1px solid rgb(172, 166, 166);
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 100;
}

.promoPromo input::placeholder {
  font-size: 17px;
  font-weight: 100;
  color: rgb(172, 166, 166);
}

.promoPromo input:focus {
  outline: none;
  border: 1.5px solid black;
}
