.add-container Button:first-child,
.add-container Button:nth-child(2) {
  color: white;
  background-color: rgb(70, 68, 68);
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 0;
  cursor: pointer;
}

.add-container Button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  background-color: rgb(34, 33, 33);
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 0;
  cursor: pointer;
}

.add-container Button:first-child {
  margin-bottom: 10px;
}

.add-container Button:nth-child(2) img {
  width: 18px;
  margin-bottom: 4px;
}