body {
  position: relative;
}

button {
  cursor: pointer;
}

.editItems {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.editItems-Container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
}

.editItems-Container h1 {
  font-size: 20px;
}

.editItems-Container button {
  border: none;
  padding: 16px 0;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.editItems-Container a button {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100%;
}

.checkoutSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
  padding-right: 50px;
}


.checkoutTop {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.checkoutRight {
  display: flex;
  gap: clamp(10px, 2vw, 20px);
}

.checkoutRight h1 {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 300;
}

.checkoutRight img {
  width: clamp(20px, 2vw, 25px);
}


/* Form */

.checkoutMain {
  background-color: rgb(228, 225, 225);
  display: flex;
  justify-content: center;
  padding: 150px 46px 46px 46px;
  gap: 31px;
}

.contactDetails {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(255, 253, 253);
  padding-right: 3px;
  max-height: 650px;
}

.formSub {
  background-color: rgb(255, 253, 253);
  border-radius: 5px;
  color: black;
  padding: 30px 35px 30px 30px;
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paymentsSubmit {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.paymentOrder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkoutItems {
  margin: 0;
  padding: 0;
}

.formSub h1 {
  margin-right: auto;
  font-weight: 500;
  font-size: 27px;
}

.selectDelivery {
  width: 100%;
}

.selectDeliverySub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectDelivery button:nth-child(2) {
  display: flex;
  padding: 10px 48px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  gap: 5px;
}

.selectDelivery button {
  display: flex;
  padding: 10px 48px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  gap: 5px;
}

.selectDelivery button p {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
}

.selectDelivery p,
.payments p {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
}

.formField {
  position: relative;
  width: 100%;
  background-color: white;
  visibility: visible;
}

.formField span{
  color: red;
}

.formField p {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
}

.closeDrop {
  height: fit-content;
  background-color: white;
  position: absolute;
  width: 100%;
  padding-right: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
}

.closeIcon-container {
  background-color: rgb(245, 236, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 101.5%;
  padding: 15px 0;
  border-radius: 4px;
  margin-top: 20px;
}

.closeIcon-container p {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 5px;
}

.closeForm {
  flex-direction: column;
}

.closeForm div:first-child {
  margin-top: 30px;
}

/* close icon */

.arrowCont {
  cursor: pointer;
}

.arrowCont img {
  width: 30px;
  display: flex;
  visibility: visible;
}

.arrowCont img:nth-child(2) {
  visibility: hidden;
  display: none;
}

.formField label {
  font-weight: 300;
}

.formField input,
.formField select,
.payments select {
  width: 95.5%;
  margin: 20px 0;
  padding: 14px;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
  border: 1px solid black;
}

.formField select,
.payments select:focus {
  outline: none;
}

.formField select {
  width: 101.5%;
  font-size: 17px;
}

.payments {
  width: 100%;
}

.payments div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payments div img {
  width: 40px;
}

.payments select {
  width: 101.5%;
  font-size: 17px;
}

.submitOrder {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.submitOrder p {
  font-size: 20px;
  margin: 20px 0;
  color: green;
}

.submitOrder button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 101.5%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 21px;
  cursor: pointer;
}

.purchase--btn img{
  margin-bottom: 2px;
}

.submitOrder button img{
  width: 24px;
}

.submitOrder button:hover,
.yourOrderSub button:hover {
  background-color: rgb(94, 93, 93);
  color: white;
}

.submitOrder button:active,
.yourOrderSub button:active {
  background-color: black;
  color: white;
}

/* Your Order */

.yourOrder {
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 385px;
  padding: 20px 10px;
}

.suby {
  padding: 0 20px;
}

.yourOrder h1 {
  font-size: 25px;
}

.yourOrder p {
  font-weight: 500;
  font-size: 17px;
}

.yourOrderSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.yourOrderSub p {
  font-weight: 500;
  font-size: 18px;
}

.yourOrderSub button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  background-color: rgb(243, 233, 233);
  cursor: pointer;
  color: black;
}

/* Items */

.checkoutImagee {
  width: 23%;
}

.checkoutImage img {
  width: 100%;
}

.OrderSummaary {
  border-bottom: 5px;
  border-top: 1px solid rgb(218, 211, 211);
}

.orderSummaary-Top {
  padding: 0 25px;
}

.orderSummaary-Top h1 {
  margin-bottom: 30px;
}

.subtotaal {
  display: flex;
  justify-content: space-between;
}

.discoount {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.discoount p,
.subtotaal p {
  margin: 0;
  margin-bottom: 10px;
}

.orderSecoond {
  padding: 10px 0 33px 0;
}

.orderTootal {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: green;
}

/* Confirm pay modal */

.mainConfirmPayModal{
 background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.successConfirmModal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.confirmPayment-modal{
 background-color: white;
 width: 420px;
 height: 460px;
 padding: 25px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 border-radius: 5px;
}

.confirmDescriptions h2, p{
  margin: 0;
  padding: 0;
}

.confirmDescriptions p{
  padding-top: 5px;
  font-style: italic;
}

.mainDetailsContainer{
 background-color: rgb(241, 239, 239);
 font-size: 15px;
 padding: 15px;
 height: 60%;
 margin-top: 10px;
 border-radius: 5px;
}

.mainDetailsContainer h1{
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 500;
}

.detailsContainer{
 display: flex;
 margin-top: 15px;
 justify-content: space-between;
 height: 200px;
 border-bottom: 1px solid rgb(216, 215, 215);
}

.description{
 width: 100%;
 padding-top: 10px
}

.description div, 
.response div{
  margin-bottom: 13px;
}

.response{
 padding-top: 10px;
 text-align: end;
 width: 100%;
}

.detailsAmount{
 padding-top: 10px;
 font-weight: bold;
 font-size: 17px;
 display: flex;
 align-items: center;
 color: green;
 justify-content: space-between;
}

.detailsAmount div:first-child{
 color: black;
}

.confirmEdit{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 10px;
}

.confirmEdit button{
  background-color: green;
  color: white;
  font-size: 16px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 13px 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.confirmEdit button:nth-child(2):hover{
  background-color: rgb(3, 104, 3);
}

.confirmEdit button:first-child{
  background-color: white;
  color: black;
  border: 1px solid grey;
}

.confirmEdit button:first-child:hover{
  background-color: beige;
}

.successMain{
 background-color: white;
 width: 340px;
 height: 520px;
 display: flex;
 flex-direction: column;
 padding: 0 20px 15px 20px;
 border-radius: 7px;
}

.successImageCont{
 display: flex;
 text-align: center;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
}

.successImageCont img:first-child{
  position: relative;
  width: 100%;
}

.closyy{
  position: absolute;
  margin-left: 320px;
  margin-bottom: 200px;
}

.confidi{
  position: absolute;
  top: 255px;
  width: 340px;
  color: rgb(102, 101, 101);
}

.spannn{
 display: flex;
 font-size: 11.5px;
}

.spannn span{
 font-weight: bold;
}

.confidi h1{
 font-size: 28px;
 color: black;
}

.orderCredentials{
 display: flex;
 flex-direction: column;
 text-align: center;
 margin-top: 40px;
}

.orderCredentials h1{
 margin: 0;
 font-weight: 450;
}

.credentialsDetails{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 gap: 10px;
}

.credenSub{
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: wrap;
  font-size: 13px;
}

.credenSub div{
  width: 180px;
  justify-content: flex-start;
  text-align: start;
  color: rgb(177, 176, 176);
}

.credenSub div:first-child{
  width: 100px;
  justify-content: flex-start;
  text-align: start;
  font-weight: bold;
  color: black;
}

.orderCredentials button{
 border: none;
 background-color: green;
 color: white;
 width: 100%;
 padding: 13px 0;
 font-size: 19px;
}