.footerTop {
  background-color: black;
  color: white;
  padding: clamp(0px, 4vw, 50px);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(10px, 2vw, 14px);
  border-bottom: 1px solid grey;
  padding-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-main {
  color: rgb(224, 220, 220);
  display: flex;
}

.footer-main li {
  margin-bottom: 10px;
}

.footer-main p {
  font-weight: bold;
  color: white;
}

.footer-main a:hover {
  cursor: pointer;
  color: white;
}

.zayra-container {
  margin-right: 20px;
  padding: 0 10px 0 0;
}

.zayra-sub-mini {
  margin-top: 40px;
  color: grey;
}

.helpSupport {
  margin-right: 20px;
  padding: 0 10px;
}

.helpSupport p,
.zayra-sub p,
.followUs p {
  margin-bottom: 14px;
}

.helpSupport li,
.zayra-sub li,
.followUs li {
  color: grey;
}

.followUs {
  padding: 0 10px;
}

.newsletter-container {
  margin-bottom: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: clamp(10px, 2vw, 14px);
}

.stayInTouch h3 {
  margin-top: auto;
}

.newsleter-sub {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonContainer input {
  height: 100%;
  flex: 1;
  min-width: 220px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
}

.buttonContainer input::placeholder {
  padding: 0 0 0 5px;
  color: rgb(194, 186, 186);
}

.buttonContainer input:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.type-btn {
  cursor: pointer;
  border: none;
  background-color: white;
  border-right: 1px solid rgb(204, 197, 197);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 10px;
  height: 100%;
}

.type-btn:focus {
  outline: none;
}


.type-btn p {
  font-size: clamp(10px, 2vw, 12.5px);
}

.submit-btn {
  border: none;
  height: 100%;
  color: white;
  background-color: grey;
  margin: 0;
  margin-left: 5px;
  border-radius: 3px;
}

.submit-btn:hover {
  background-color: rgb(61, 61, 61);
}

.stayInTouch span {
  font-weight: bold;
}

.stayInTouch {
  font-size: clamp(10px, 2vw, 12.5px);
}

.stayInTouch p {
  margin-bottom: 10px;
  color: grey;
}

.voucher-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
}

.voucher {
  font-size: clamp(10px, 2vw, 12.5px);
  color: grey;
}

.voucher span {
  font-weight: bold;
}

.women-sub {
  background-color: white;
  color: black;
  display: flex;
  text-align: center;
  padding: 7px 0 7px 18px;
  margin: 0;
  max-width: 85px;
  font-size: clamp(10px, 2vw, 12.5px);
}

.men-sub {
  background-color: white;
  color: black;
  display: flex;
  text-align: center;
  padding: 7px 0 7px 18px;
  margin: 0;
  max-width: 85px;
  font-size: clamp(10px, 2vw, 12.5px);
}

.men-sub:hover,
.women-sub:hover {
  cursor: default;
  background-color: rgb(65, 65, 255);
  color: white;
}

.menWomenContainer {
  position: relative;
  margin-top: -10px;
}

.menWomen-sub {
  visibility: hidden;
}

.footerSearches-container {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 13px);
  padding: 40px 0;
}

.footerSearches-container p {
  margin-bottom: 10px;
  color: grey;
}

.footerSearches-container h3 {
  margin-bottom: 20px;
}

.topSearches {
  font-weight: bold;
  font-size: clamp(10px, 2vw, 15px);
}

.topSearches-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSub {
  visibility: visible;
  visibility: hidden;
  display: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.bottomSub {
  visibility: visible;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footerBottomMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerBottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 15px 0;
}

.brandLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-top: -10px;
  height: 90px;
}

.brandLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.brandSignature {
  display: flex;
  flex: 1;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
}

.brandSignature p {
  font-size: clamp(17px, 2vw, 25px);
  font-weight: bold;
  letter-spacing: 0.2em;
  transform: scaleX(1.5);
  cursor: pointer;
  margin: 0;
}

.brandOwnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.brandOwnership p {
  margin: 0;
  font-size: 12px;
  font-style: italic;
  cursor: default;
}

.hearts {
  color: red;
  font-size: 17px;
}

.playstore-button {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  padding: 6px 8px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 18px;
  width: 18px;
}

.texts {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 10px;
  line-height: 10px;
}

.text-2 {
  font-weight: 600;
  font-size: 12px;
}