body {
  font-family: Roboto, arial;
  margin: 0;
  overflow-x: hidden;
}

.top-nav {
  align-items: center;
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: flex-end;
  font-size: 15px;
  white-space: nowrap;
  visibility: visible;
}

.top-nav-items {
  display: flex;
  padding-right: 50px;
}

.top-nav-items a {
  margin-right: 30px;
  color: rgb(168, 166, 166);
  cursor: pointer;
}

.middle-nav {
  background-color: black;
  color: white;
  display: flex;
  flex: 1;
  height: 50px;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.left {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  max-width: 800px;
  margin-top: 3px;
}

.left img {
  cursor: pointer;
}

.left div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

.left div div {
  padding: 8px 25px;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  border-radius: 3px;
}

.left div div:hover {
  background-color: grey;
}

.right {
  display: flex;
  width: 450px;
  height: 100%;
}

.right-sub {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around
}

.right-sub1 {
  max-width: 300px;
  height: 45px;
  display: flex;
  flex: 1;
}

.right-sub1 span {
  background: white;
  cursor: pointer;
}

.right-sub1 input {
  max-width: 242px;
  width: 0;
  display: flex;
  margin-top: 5px;
  flex: 1;
  height: 96%;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.right-sub1 input:focus {
  outline: none;
}

.right-sub1 input::placeholder {
  font-size: 15px;
  color: rgb(212, 210, 210);
}

.right-sub1 span {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  margin-top: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.right-sub1 span img {
  width: 30px;
}

.right-sub-icon {
  display: flex;
}

.right-sub-icon a {
  margin-right: 18px;
  cursor: pointer;
}

.right-sub-icon a img {
  width: 28px;
}

.bottom-nav {
  display: flex;
  flex: 1;
  color: rgb(212, 210, 210);
  align-items: center;
  justify-content: space-between;
  background-color: black;
  visibility: visible;
}

.quantityContainer,
.favContainer {
  position: relative;
}

.quantity {
  background-color: rgb(250, 24, 24);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -13px;
  height: 12px;
  min-width: 12px;
  border-radius: 11px;
  font-size: 13px;
  font-weight: bold;
  padding: 5.5px 6px 5.5px 6px;
  color: white;
}

.bottom-sub {
  padding: 0 16px 0 55px;
  display: flex;
  flex: 1;
  max-width: 780px;
  justify-content: center;
  margin-top: 8px;
}

.bottom-sub div {
  font-size: 13.5px;
  cursor: pointer;
  padding: 8px 18px;
  white-space: nowrap;
  border-radius: 3px;
}

.bottom-sub div:first-child {
  padding: 8px 7px;
}

.bottom-sub div:hover {
  background-color: grey;
}

.bottom-sub div:nth-child(9) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 14px;
  padding: 0 15px;
  color: red;
  cursor: pointer;
}

.bottom-sub span:hover {
  background-color: grey;
}

/* Styles for main search bar */
.header-nav {
  /* position: relative; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.main-search {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 40px;
  background-color: black;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.main-search-container {
  display: flex;
  max-width: 1200px;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
}

.close-button {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  border: 0;
  background-color: black;
  padding: 8.6px 9px;
  border-radius: 0;
  cursor: pointer;
}

.close-button img {
  width: 27px;
}

.search-button {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background-color: grey;
  padding: 8.9px 9px;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(182, 178, 178);
  transition: ease-in 10ms;
}

.search-button img {
  width: 27px;
}

.main-search-bar {
  display: flex;
  flex: 1;
  max-width: 550px;
  height: 38px;
  border: none;
  padding: 22px 0 22px 10px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.main-search-bar:focus {
  outline: none;
}

.main-search-bar::placeholder {
  font-size: 16.5px;
  color: rgb(190, 186, 186);
}

/* Dropdown Menu */

.main-mobile-nav {
  position: relative;
}

.main-mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  visibility: hidden;
}

.main-mobile-nav-sub {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HamburgerContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  font-size: 16px;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 999;
  transition: 0.5s;
}

.HamburgerContainer a {
  text-decoration: none;
  color: black;
}

.HamburgerContainer.active {
  left: 0;
}

.hamburgerItems {
  background-color: white;
  color: black;
  width: 270px;
  height: 100%;
}

.hamburgerItems.active {
  left: 0;
}

.closeContainer {
  background-color: rgb(231, 226, 226);
  border-bottom: 1px solid rgb(155, 154, 154);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
}

.closeContainer img {
  width: 180px;
  cursor: pointer;
}

.closeContainer span img {
  width: 30px;
}

.closeContainer span {
  cursor: pointer;
}

.directoriesContainer {
  border-top: 1px solid rgb(231, 226, 226);
  border-bottom: 1px solid rgb(231, 226, 226);
  padding-top: 5px;
  padding-bottom: 5px;
}

.NewItemsContainer div {
  margin: 0;
  padding: 0;
}

.NewItemsContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.NewItemsContainer div img,
.NewItemsContainer div p,
.directoriesContainer div img,
.directoriesContainer div p {
  margin: 0;
  padding: 0;
}

.NewItemsContainer div,
.directoriesContainer div {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  width: 90%;
  margin-left: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
  padding-left: 15px;
}

.NewItemsContainer div img,
.directoriesContainer div img {
  width: 25px;
}

.NewItemsContainer div:hover,
.directoriesContainer div:hover {
  background-color: rgb(231, 226, 226);
}