body {
  position: relative;
}

button {
  cursor: pointer;
}

.editItems {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.editItems-Container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
}

.editItems-Container h1 {
  font-size: 20px;
}

.editItems-Container button {
  border: none;
  padding: 16px 0;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.editItems-Container a button {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100%;
}


.checkoutNav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.checkoutSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
  padding-right: 50px;
}


.checkoutTop {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.checkoutRight {
  display: flex;
  gap: clamp(10px, 2vw, 20px);
}

.checkoutRight h1 {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 300;
}

.checkoutRight img {
  width: clamp(20px, 2vw, 25px);
}


/* Form */

.checkoutMain {
  display: flex;
  justify-content: center;
  padding: 46px;
  gap: 31px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paymentsSubmit {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.paymentOrder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkoutItems {
  margin: 0;
  padding: 0;
}


.formSub h1 {
  margin-right: auto;
  font-weight: 500;
  font-size: 27px;
}

.selectDelivery {
  width: 100%;
}

.selectDeliverySub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectDelivery button p {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
}

.selectDelivery p,
.payments p {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
}

.formField {
  position: relative;
  width: 100%;
  background-color: white;
  visibility: visible;
}

.formField p {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
}

.closeDrop {
  height: fit-content;
  background-color: white;
  position: absolute;
  width: 100%;
  padding-right: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.closeIcon-container {
  background-color: rgb(245, 236, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 101.5%;
  padding: 15px 0;
  border-radius: 4px;
  margin-top: 20px;
}

.closeIcon-container p {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 5px;
}

.closeForm {
  flex-direction: column;
}

.closeForm div:first-child {
  margin-top: 30px;
}

/* close icon */

.arrowCont {
  cursor: pointer;
}

.arrowCont img {
  width: 30px;
  display: flex;
  visibility: visible;
}

.arrowCont img:nth-child(2) {
  visibility: hidden;
  display: none;
}

.formField label {
  font-weight: 300;
}

.formField input,
.formField select,
.payments select {
  width: 95.5%;
  margin: 20px 0;
  padding: 14px;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
  border: 1px solid black;
}

.formField select,
.payments select:focus {
  outline: none;
}

.formField select {
  width: 101.5%;
  font-size: 17px;
}

.payments {
  width: 100%;
}

.payments div {
  width: 50px;
  display: flex;
  gap: 10px;
}

.payments div img {
  width: 100%;
}

.payments select {
  width: 101.5%;
  font-size: 17px;
}

.submitOrder {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.submitOrder p {
  font-size: 20px;
  margin: 20px 0;
  color: green;
}

.submitOrder button {
  width: 101.5%;
  padding: 16px 0;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.submitOrder button:hover,
.yourOrderSub button:hover {
  background-color: rgb(94, 93, 93);
  color: white;
}

.submitOrder button:active,
.yourOrderSub button:active {
  background-color: black;
  color: white;
}

/* Your Order */

.yourOrder {
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 385px;
  padding: 0 10px;
}

.suby {
  padding: 0 20px;
}

.yourOrder h1 {
  font-size: 25px;
}

.yourOrder p {
  font-weight: 500;
  font-size: 17px;
}

.yourOrderSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.yourOrderSub p {
  font-weight: 500;
  font-size: 18px;
}

.yourOrderSub button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  background-color: rgb(243, 233, 233);
  cursor: pointer;
  color: black;
}

/* Items */

.checkoutImagee {
  width: 23%;
}

.checkoutImage img {
  width: 100%;
}

.OrderSummaary {
  border-bottom: 5px;
  border-top: 1px solid rgb(218, 211, 211);
}

.orderSummaary-Top {
  padding: 0 25px;
}

.orderSummaary-Top h1 {
  margin-bottom: 30px;
}

.subtotaal {
  display: flex;
  justify-content: space-between;
}

.discoount {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.discoount p,
.subtotaal p {
  margin: 0;
  margin-bottom: 10px;
}

.orderSecoond {
  padding: 10px 0 33px 0;
}

.orderTootal {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: green;
}

/* Payment Modal */
/* From Uiverse.io by zanina-yassine */
.paymentsModalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
}

.modal {
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  width: 450px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator>p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.expiryDate {
  height: 38px;
  border-radius: 9px;
  padding: 0 0 0 16px;
  max-width: 250px;
  margin-right: 10px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.cardNumber {
  height: 38px;
  max-width: 112px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}