.subHover {
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: 266px;
  padding: 30px;
  font-size: clamp(12px, 2vw, 15px);
  font-weight: 200;
  background-color: white;
  box-shadow: 0px 4px 6px 2px rgb(209, 194, 194);
  transition: box-shadow 0.5s ease;
  z-index: 9999;
  margin-top: 500px;
  position: absolute;
  width: 96%;
  bottom: -287px;
}

.subHover h4 {
  margin: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.ManageBrands p,
.brandsA-Z p {
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}

.ManageBrands p:hover,
.brandsA-Z p:hover {
  color: red;
}

.subHoverImages {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.subHoverImages-div {
  width: 180px;
  display: flex;
  height: 100%;
  cursor: pointer;
}

.subHoverImages img {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}