/* iphone 11 and iphone 12 screens */
@media(max-width: 414px) {
  .main {
    height: 100vh;
  }

  .login-form {
    width: 315px;
  }

}

/* Small–medium phones (iphone 14Promax) */
@media (min-width: 420px) and (max-width: 500px) {
  .main {
    height: 100vh;
  }

  .login-form {
    width: 315px;
  }
}