/* iphone 11 and iphone 12 screens */
@media(max-width: 414px) {

  .confirmPayment-modal {
    width: 330px;
  }

  .confidi {
    top: 300px;
  }

  .successMain {
    padding: 0 20px 60px 20px;
  }

  .orderCredentials {
    margin-top: 80px;
  }

  .checkoutMain {
    flex-direction: column;
    padding: 90px 10px;
    align-items: center;
  }

  .formSub {
    width: 385px;
    padding: 10px 0;
    border-radius: 5px;
  }

  .contactDetails {
    min-height: 630px;
    border-radius: 5px;
  }

  .formSub h1 {
    margin-left: 10px;
  }

  .selectDeliverySub {
    justify-content: center;
    gap: 8px;
    padding: 0 8px;
  }

  .selectDelivery button:nth-child(2) {
    padding: 10px 15px;
  }

  .selectDelivery button {
    padding: 10px;
  }

  .selectDelivery button p {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
  }

  .formField {
    width: 338px;
    padding: 0 25px 0 10px;
  }

  .closeDrop {
    width: 338px;
    padding: 0 25px 0 10px;
  }

  .split {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .split input {
    width: 100%;
  }

  .modal {
    padding: 0;
    width: 95%;
  }

  .expiryDate {
    max-width: 100%;
  }

  .cardNumber {
    max-width: 100%;
  }

  .editItems-Container {
    padding: 20px 0;
    width: 95%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    border-radius: 6px;
  }

  .editItems-Container h1 {
    font-size: 16px;
  }

  .editItems-Container button {
    width: 90%;
  }

  .editItems-Container a button {
    padding: 15px 95px;
  }

}

/* Small–medium phones (iphone 14Promax) */
@media (min-width: 420px) and (max-width: 500px) {

  .confirmPayment-modal {
    width: 350px;
  }

  .confidi {
    top: 300px;
  }

  .successMain {
    padding: 0 20px 60px 20px;
  }

  .orderCredentials {
    margin-top: 80px;
  }

  .checkoutMain {
    flex-direction: column;
    padding: 90px 10px;
    align-items: center;
  }

  .formSub {
    width: 400px;
    padding: 10px 0;
    border-radius: 5px;
  }

  .contactDetails {
    min-height: 630px;
    border-radius: 5px;
  }

  .formSub h1 {
    margin-left: 10px;
  }

  .selectDeliverySub {
    justify-content: center;
    gap: 8px;
    padding: 0 8px;
  }

  .selectDelivery button:nth-child(2) {
    padding: 10px 15px;
  }

  .selectDelivery button {
    padding: 10px;
  }

  .selectDelivery button p {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
  }

  .formField {
    width: 338px;
    padding: 0 25px 0 10px;
  }

  .closeDrop {
    width: 338px;
    padding: 0 25px 0 10px;
  }

  .split {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .split input {
    width: 100%;
  }

  .modal {
    padding: 0;
    width: 95%;
  }

  .expiryDate {
    max-width: 100%;
  }

  .cardNumber {
    max-width: 100%;
  }


  .editItems-Container {
    padding: 20px 0;
    width: 95%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    border-radius: 6px;
  }

  .editItems-Container h1 {
    font-size: 16px;
  }

  .editItems-Container button {
    width: 90%;
  }

  .editItems-Container a button {
    padding: 15px 95px;
  }
}

/* small laptop - tabs */
@media(min-width: 501px) and (max-width: 1024px) {
  .checkoutMain {
    flex-direction: column;
    padding: 130px 10px;
    align-items: center;
  }

  .confidi {
    top: 450px;
  }

  .successMain {
    padding: 0 20px 60px 20px;
  }

  .orderCredentials {
    margin-top: 80px;
  }

  .paymentOrder {
    width: 65%;
  }

  .yourOrder {
    max-width: 100%;
  }

  .formSub {
    width: 500px;
    padding: 10px 30px;
    border-radius: 5px;
  }

  .contactDetails {
    min-height: 630px;
    border-radius: 5px;
  }
}