/* iphone 11 and iphone 12 screens */
@media(max-width: 414px) {
  .checkoutSub {
    width: 100%;
    padding: 0 15px;
  }

  .Checkoutleft img{
    width: 150px;
  }

    .checkoutRight {
    gap: clamp(20px, 2vw, 20px);
  }

  .checkoutRight h1{
    margin: 0;
    padding: 0;
  }
}

/* Small–medium phones (iphone 14Promax) */
@media (min-width: 420px) and (max-width: 500px) {
    .checkoutSub {
    width: 100%;
    padding: 0 15px;
  }

  .Checkoutleft img{
    width: 150px;
  }

    .checkoutRight {
    gap: clamp(20px, 2vw, 20px);
  }

  .checkoutRight h1{
    margin: 0;
    padding: 0;
  }
}

/* small laptop - tabs */
@media(min-width: 501px) and (max-width: 1024px) {
     .checkoutSub {
    width: 100%;
    padding: 0 15px;
  }

  .Checkoutleft img{
    width: 250px;
  }

    .checkoutRight {
    gap: clamp(20px, 2vw, 20px);
  }

  .checkoutRight h1{
    margin: 0;
    padding: 0;
  }
}