/* From Uiverse.io by gharsh11032000 */
.forgotPass-container {
  max-width: 400px;
  background-color: rgb(247, 245, 245);
  padding: 50px 80px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.forgotPass-container button:active {
  scale: 0.95;
}

.forgotPass-container .forgotPass-logo {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.forgotPass-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPass-container .forgotPass-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.forgotPass-container .forgotPass-group label {
  display: block;
  margin-bottom: 5px;
}

.forgotPass-container .forgotPass-group input {
  width: 100%;
  padding: 12px 0;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.forgotPass-container .forgotPass-group input::placeholder {
  opacity: 0.5;
  padding-left: 10px;
}

.forgotPass-container .forgotPass-group input:focus {
  outline: none;
  border-color: #1778f2;
  padding-left: 10px;
}

.forgotPass-container .forgotPass-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
    0px 2px 3px rgba(0, 0, 0, 0.168);
}

.forgotPass-container .forgotPass-submit:hover {
  background-color: #313131;
}

.forgotPass-container .link {
  color: #1778f2;
  text-decoration: none;
}

.forgotPass-container .signup-link {
  align-self: center;
  font-weight: 500;
}

.forgotPass-container .signup-link .link {
  font-weight: 400;
}

.forgotPass-container .link:hover {
  text-decoration: underline;
}